.circle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.activeCircle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}
